<script lang="ts">
    import type { ResourceId } from '$lib';
    export let resourceId : ResourceId;
    export let amount : number = 1;
    import { resources } from '$lib/values';
    $: resource = resources[resourceId];
    const handleAdd = () => {
        resource.add(amount);
    };
    
</script>

<button class="btn btn-md text-on-primary-token variant-glass-primary" on:click={handleAdd}>
    Add {amount} {$resource.name}
</button>