<script lang="ts">
	import type { Buyable } from "$lib";
    import { ResourcesToArray } from "$lib";
    import { resources } from "$lib/values";
    import { get } from 'svelte/store';
    export let value : Buyable;
    export let onBuy : (amount : number) => void;

    $: costs = ResourcesToArray(value?.cost);
    $: costString = costs.map(cost => `${cost.value} ${cost.name}${cost.value > 1 ? 's' : ''}`).join(', ');

    $: canBuy = costs.every(cost => get(resources[cost.resourceId]).value >= cost.value);

    const handleBuy = () => {
        if (!canBuy) return;
        costs.forEach(cost => {
            resources[cost.resourceId].add(-cost.value);
        });
        onBuy(1);
    }
</script>

<div class="basis-full flex flex-col gap-y-2">
    <div class="basis-full">
        {#if canBuy}
            <button class="btn btn-md text-on-primary-token variant-glass-success" on:click={handleBuy}>
                {costString}
            </button>
        {:else}
            <button class="btn btn-md text-on-primary-token variant-glass-error" disabled>
                {costString}
            </button>
        {/if}
    </div>
</div>