<script lang="ts">
    import { resourceTick } from '$lib/stores/tickerStore';
    const handleTick = () => {
        resourceTick();
    };
    
</script>

<button class="btn btn-md text-on-primary-token variant-glass-primary" on:click={handleTick}>
    Test Tick
</button>