<script lang="ts">
    let interval : NodeJS.Timeout | null = setInterval(() => {
        resourceTick();
    }, 500)
    import { resourceTick } from '$lib/stores/tickerStore';
    let togglePause = () =>{
        if(interval){
            clearInterval(interval);
            interval = null;
        }else{
            interval = setInterval(() => {
                resourceTick();
            }, 100);
        }
    };
    
</script>

<button class="btn btn-md text-on-primary-token variant-glass-primary" on:click={togglePause}>
    {#if interval}
        Pause
    {:else}
        Unpause
    {/if}
</button>