<script lang="ts">
	import type { Factory, ResourceId } from "$lib";
    import { ProductionMethodsToArray, ResourcesToArray } from "$lib";
    import { ProgressBar } from '@skeletonlabs/skeleton';
    export let value : Factory;
    export let onAllocate : (resourceId : ResourceId, amount : number) => void;

    $: productions = ProductionMethodsToArray(value?.production);
    $: allocations = ResourcesToArray(value?.productionAllocation);
    $: totalAllocated = allocations.reduce((acc, cur) => acc + cur.value, 0);

</script>

<div class="basis-full flex flex-col gap-y-2">
    {#each productions as production}
        <div class="basis-full flex flex-row flex-wrap gap-x-3">
        <div>
            {#each production.inputs ?? [] as input}
                <div class="badge variant-glass-error mx-2">{input.value} {input.name}</div>
            {/each}
        </div>
        <div>
            {#each production.outputs ?? [] as output}
                <div class="badge variant-glass-success mx-2">{output.value} {output.name}</div>
            {/each}
            <div class="text-sm basis-full">{value.productionAllocation[production.resourceId] ?? 0} {production.name}</div>
        </div>
            <ProgressBar name={production.resourceId} class="basis-3/4" value={(value.productionAllocation[production.resourceId] ?? 0)} max={value?.owned}/>
            {#if totalAllocated < value?.owned}
                <button class="btn btn-md text-on-primary-token variant-glass-success" on:click={() => onAllocate(production.resourceId, 1)}>
                    Allocate
                </button>
            {/if}
            {#if totalAllocated > 0}
                <button class="btn btn-md text-on-primary-token variant-glass-error" on:click={() => onAllocate(production.resourceId, -1)}>
                    Deallocate
                </button>
            {/if}
        </div>
    {/each}
</div>