<script lang="ts">
	import type { Buyable, ResourceId } from "$lib";
    import { ResourcesToArray } from "$lib";
    import { ProgressBar } from '@skeletonlabs/skeleton';
    export let value : Buyable;
    export let onAllocate : (resourceId : ResourceId, amount : number) => void;

    $: stores = ResourcesToArray(value?.stores);
    $: allocations = ResourcesToArray(value?.storeAllocation);
    $: totalAllocated = allocations.reduce((acc, cur) => acc + cur.value, 0);

</script>

<div class="basis-full flex flex-col gap-y-2">
    <div class="basis-full flex flex-row flex-wrap gap-x-3">
        {#each stores as store}
            <div class="text-sm basis-full">{value.storeAllocation[store.resourceId] ?? 0} {store.name}</div>
            {#if value.storeAllocation[store.resourceId]}
                <ProgressBar name={store.resourceId} class="basis-3/4" value={value.storeAllocation[store.resourceId]} max={value?.owned}/>
            {:else}
                <ProgressBar class="basis-3/4" value={0} max={value?.owned}/>
            {/if}
            {#if totalAllocated < value?.owned}
                <button class="btn btn-md text-on-primary-token variant-glass-success" on:click={() => onAllocate(store.resourceId, 1)}>
                    Allocate
                </button>
            {/if}
            {#if (value.storeAllocation[store.resourceId] ?? 0) > 0}
                <button class="btn btn-md text-on-primary-token variant-glass-error" on:click={() => onAllocate(store.resourceId, -1)}>
                    Deallocate
                </button>
            {/if}
        {/each}
    </div>
</div>