<script lang="ts">
    import type { ContainerId } from '$lib';
    export let containerId : ContainerId;
    import { containers } from '$lib/values';
	import BuyButton from '../common/+BuyButton.svelte';
	import StoreDisplay from '../common/+StoreDisplay.svelte';
    const container = containers[containerId];
    const onBuy = (amount : number) => {
        container.add(amount);
    }

</script>

{#if $container}
<div class="card p-5">
    <header class="card-header flex flex-row gap-x-2">
        <div class="h3 font-bold basis-full whitespace-nowrap">{$container.owned} {$container?.name}</div>
        <BuyButton value={$container} onBuy={onBuy}/>
    </header>
    <section class="">
    </section>
    <footer class="card-footer">
        Storage:
        <StoreDisplay value={$container} onAllocate={container.reallocateStorage}/>
    </footer>
</div>
{/if}