<script lang="ts">
	import '../app.postcss';
	import { AppShell, AppRail, AppRailAnchor } from '@skeletonlabs/skeleton';
    import ManualTick from "$lib/components/common/+ManualTick.svelte";
	import PauseButton from '$lib/components/common/+PauseButton.svelte';
	import AddResource from '$lib/components/common/+AddResource.svelte';
	import { ResourceId } from '$lib';
	import { page } from '$app/stores';

</script>

<AppShell>
	<svelte:fragment slot="sidebarLeft">
		<AppRail>
			 <AppRailAnchor href="/resources" selected={$page.url.pathname === '/resources'}>
				Resources
			 </AppRailAnchor>
			 <AppRailAnchor href="/factories" selected={$page.url.pathname === '/factories'}>
				Factories
			 </AppRailAnchor>
			 <AppRailAnchor href="/containers" selected={$page.url.pathname === '/containers'}>
				Containers
			 </AppRailAnchor>
			 <AppRailAnchor href="/test" selected={$page.url.pathname === '/test'}>
				Test Display
			 </AppRailAnchor>
		</AppRail>
	</svelte:fragment>
	<svelte:fragment slot="pageHeader">
		<div class="flex m-4 flex-row gap-2 align-start">
			<PauseButton />
			<ManualTick />
			<AddResource resourceId={ResourceId.electricty}/>
		</div>
	</svelte:fragment>
	<!--Maybe need a different layout for other stuff-->
	<div class="w-full mt-2 mx-3 grid grid-flow-row grid-cols-3 gap-3">
		<slot />
	</div>
</AppShell>
