<script lang="ts">
    import type { ResourceId } from '$lib';
    export let resourceId : ResourceId;
    import { ProgressBar } from '@skeletonlabs/skeleton';
    import { getResourceStats } from '$lib/stores/generalStore';
    import { resources } from '$lib/values';
    $: resource = resources[resourceId];
    $: stats = getResourceStats(resourceId);

</script>

<div class="card p-5">
    <header class="card-header">
        <div class="text-sm font-bold">{$resource?.name}</div>
        <div class="text-sm font-bold">{$resource?.value} / {$stats.totalCapacity}</div>
    </header>
    <section class="">
        <ProgressBar value={$resource?.value} max={$stats.totalCapacity} />
    </section>
    <footer class="card-footer">
        <div class="text-sm font-bold">Net : {$stats.production + $stats.consumption}</div>
    </footer>
</div>