<script lang="ts">
    import { ContainerIds } from "$lib";
	import ContainerDisplay from "$lib/components/container/+ContainerDisplay.svelte";
</script>

{#each ContainerIds as containerId}
    <ContainerDisplay {containerId}/>
{/each}
