<script lang="ts">
    import { ResourceIds } from "$lib";
    import ResourceDisplay from "$lib/components/resource/+ResourceDisplay.svelte";
</script>

{#each ResourceIds as resourceId}
    <ResourceDisplay {resourceId}/>
{/each}
