<script lang="ts">
    import { FactoryIds } from "$lib";
	import FactoryDisplay from "$lib/components/factory/+FactoryDisplay.svelte";
</script>

{#each FactoryIds as factoryId}
    <FactoryDisplay {factoryId} />
{/each}
