<script lang="ts">
    import { ResourceIds, FactoryIds, ContainerIds } from '$lib';
    import { resources, factories, containers } from '$lib/values';
    import { get } from 'svelte/store';

</script>


{#each ResourceIds as rid}
    <div class="w-full m-3 col-3">
        {JSON.stringify(get(resources[rid]))}
    </div>
{/each}

{#each FactoryIds as fid}
    <div class="w-full m-3 col-3">
        {JSON.stringify(get(factories[fid]))}
    </div>
{/each}

{#each ContainerIds as cid}
    <div class="w-full m-3 col-3">
        {JSON.stringify(get(containers[cid]))}
    </div>
{/each}