<script lang="ts">
    import { getFactoryNetProduction, ResourcesToArray, type FactoryId } from '$lib';
	import StoreDisplay from '$lib/components/common/+StoreDisplay.svelte';
    export let factoryId : FactoryId;
    import { factories } from '$lib/values';
	import BuyButton from '../common/+BuyButton.svelte';
	import ProductionDisplay from '$lib/components/common/+ProductionDisplay.svelte';
    const factory = factories[factoryId];
    const onBuy = (amount : number) => {
        factory.add(amount);
    }
    $: netProduction = ResourcesToArray(getFactoryNetProduction($factory));

</script>

{#if $factory}
    <div class="card p-5">
        <header class="card-header flex flex-row gap-x-2">
            <div class="h-3 font-bold basis-full whitespace-nowrap">{$factory.owned} {$factory?.name}</div>
            <BuyButton value={$factory} onBuy={onBuy}/>
        </header>
        <section class="w-full flex flex-row flex-wrap">
            {#each netProduction as production}
                <div class="text-sm mx-4 font-bold">{production.name} : {production.value}</div>
            {/each}
        </section>
        <footer class="card-footer">
            Storage :
            <StoreDisplay value={$factory} onAllocate={factory.reallocateStorage}/>
            Production: 
            <ProductionDisplay value={$factory} onAllocate={factory.reallocateProduction}/>
        </footer>
    </div>
{/if}