/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.card-header {
	@apply !pt-1;
}

.card {
	@apply !bg-surface-800/80;
}
.card > section{
	@apply p-4 h-40 variant-glass-surface;
}

footer {
	@apply flex flex-col text-primary-700;
}

header {
	@apply flex flex-row items-center justify-between text-primary-700;
}

html, body { @apply h-full overflow-hidden; }